
@model List<coderush.Models.ViewModels.CandidateMastersViewModel>

@using Microsoft.AspNetCore.Identity
@using System.Globalization

@inject UserManager<ApplicationUser> _userManager

@{ ViewData["Title"] = "Schedule Interview";
    var user = await _userManager.GetUserAsync(User);
    var roles = await _userManager.GetRolesAsync(user);

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <div class="box-body">
        <div class="table-responsive">
            <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th width="20%">Name</th>
                        <th width="10%">Email</th>
                        <th width="8%">Phone</th>
                        <th width="10%">Technologies</th>
                        <th width="4%">CV</th>
                        <th width="10%">Interview Date/Time</th>
                        <th width="10%">Place Of Interview</th>
                        <th width="10%">Interview Description</th>
                        <th width="10%">Next FollowUp date</th>
                        <th width="10%">Status</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        var dtDateTime = DateTime.Now;
                        if (item.InterviewTime.HasValue)
                        {
                            dtDateTime = dtDateTime.AddSeconds(item.InterviewTime.Value.TotalSeconds).ToLocalTime();
                        }

                        @*@if (DateTime.Today.AddDays(-8) < currentDate)
                            {
                                COLOR = "";
                            }
                            else
                            {
                                COLOR = "";
                            }
                            COUNT++;*@
                        <tr style="background-color:@item.Color">
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Phone
                            </td>
                            <td>
                                @item.technologies
                            </td>
                            <td>
                                <a href="~/document/Candidate/@item.filename" target="_blank"><i class="fa fa-download"></i></a>
                            </td>
                            <td>
                                @item.InterviewDate.Value.ToString("dd MMMM yyyy")
                                &nbsp;&nbsp;&nbsp;
                                @(item.InterviewTime.HasValue ? dtDateTime.ToString("hh:mm tt", CultureInfo.InvariantCulture) : "")
                            </td>
                            <td>
                                @item.PlaceOfInterview
                            </td>
                            <td>
                                @item.InterviewDescription
                            </td>

                            <td>

                                @{
                                    if (item.dateforNext != null)
                                    {
                                        @item.dateforNext.Value.ToString("dd MMMM yyyy");
                                    }
                                    else
                                    {
                                        <label></label>
                                    }
                                }

                            </td>
                            <td>
                                @if (item.Status == 3)
                                {
                                    <p>Done</p>
                                }

                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
