@model List<ProjectMaster>
@{ ViewData["Title"] = "Project"; }



<style>
    .shortspan {
        display: inline-block;
        width: 50px;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">List of Project item</h3>
                <div class="box-tools pull-right">
                    <a href="/ProjectMaster/Form" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th width="20%">ProjectName</th>
                                <th width="10%">Technologies</th>
                                <th width="10%">Description</th>
                                <th width="10%">ManagerName</th>
                                <th width="10%">DeveloperName</th>
                                <th width="10%">paymenttype</th>
                                <th width="10%">projectamount</th>
                                <th width="10%">currency</th>
                                <th width="10%">Is Active</th>
                                <th width="5%">Edit</th>
                                <th width="5%">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.Id
                                </td>

                                <td>
                                    @item.ProjectName
                                </td>
                                <td>
                                    @item.Technologies
                                </td>
                                <td>
                                    <p class="tooltips shortspan" data-placement="bottom" title="@item.Description"> @item.Description</p>
                                </td>
                                <td>
                                    @item.ManagerName
                                </td>
                                <td>
                                    @item.DeveloperName
                                </td>
                                <td>
                                    @item.paymenttype
                                </td>
                                <td>
                                    @item.projectamount
                                </td>
                                <td>
                                    @item.currency
                                </td>
                                @*<td><span style="text-decoration-line:@(item.Isactive ? "line-through" : "none")">@item.Isactive</span></td>*@
                                <td>
                                    <input type="checkbox" class="flat-red" @(item.isactive ? "checked" : "") onclick="return false;">
                                </td>
                                <td>
                                    <a href="/ProjectMaster/Form/@item.Id"><i class="fa fa-edit"></i></a>
                                </td>
                                <td>
                                    <a href="/ProjectMaster/Delete/@item.Id"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>}
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>

        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}


@section Scripts{


    <!-- DataTables -->
    <script src="~/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(document).ready(function () {

            $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength: 25,
            });

            $(".tooltips").tooltip({
                $(".tooltips").css("max-width: 100% !important")
            });
        });

       </script>

}
