@model List<InvoiceMaster>
@{ ViewData["Title"] = "Invoice"; }


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">List of Invoice item</h3>
                <div class="box-tools pull-right">
                    <a href="/InvoiceMaster/Form" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th width="20%">ProjectId</th>
                                <th width="10%">Amount</th>
                                <th width="10%">Duedate</th>
                                <th width="10%">InvoiceNumber</th>
                                <th width="10%">PendingAmount</th>
                                <th width="10%">Is verify</th>
                                <th width="5%">Edit</th>
                                <th width="5%">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @item.Id
                                </td>

                                <td>
                                    @item.ProjectId
                                </td>
                                <td>
                                    @item.Amount
                                </td>
                                <td>
                                    @item.Duedate
                                </td>
                                <td>
                                    @item.InvoiceNumber
                                </td>
                                <td>
                                    @item.PendingAmount
                                </td>
                                @*<td><span style="text-decoration-line:@(item.Isverify ? "line-through" : "none")">@item.Isverify</span></td>*@
                                <td>
                                    <input type="checkbox" class="flat-red" @(item.Isverify ? "checked" : "") onclick="return false;">
                                </td>
                                <td>
                                    <a href="/InvoiceMaster/Form/@item.Id"><i class="fa fa-edit"></i></a>
                                </td>
                                <td>
                                    <a href="/InvoiceMaster/Delete/@item.Id"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
}
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>

        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}


@section Scripts{


    <!-- DataTables -->
    <script src="~/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/Invoice.js"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(document).ready(function () {

            $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength: 25,
            });

            //var Project = "#invprojid";
            //$(Project).empty();
            //$(Project).append($("<option></option>").val("").html("--Select--"));
            //$.each(res, function (index, object) {

            //    $(Project).append($("<option></option>").val(object.value).html(object.text));
            //});

            //$.each(selectValues, function (key, value) {
            //    $('#mySelect')
            //        .append($("<option></option>")
            //            .attr("value", key)
            //            .text(value));
            //});

        });
    </script>

}
