@using Microsoft.AspNetCore.Identity
@model List<coderush.Models.ApplicationUser>


@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Employee Master";
    var user = await _userManager.GetUserAsync(User);
    var roles = await _userManager.GetRolesAsync(user);
    // Get the roles for the user
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">List of Member</h3>
                <div class="box-tools pull-right">
                    <button type="button" onclick="Salary()" class="btn btn-primary" id="mybutton">Add Salary</button>
                    <a href="/EmployeeMaster/Register" class="btn btn-primary"><i class="fa fa-plus"></i></a>

                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="10%"></th>
                                <th width="20%">Member Email</th>
                                <th width="10%">FirstName</th>
                                <th width="10%">LastName</th>
                                <th width="10%">Paid Leave</th>
                                <th width="10%">Unpaid Leave</th>
                                <th width="10%">Joining Date</th>
                                <th width="10%">Phone Number</th>
                                <th width="10%">Status</th>
                                @if (roles.Contains("SuperAdmin"))
                                {
                                    <th width="20%">Super Admin?</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="btn-group">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/EmployeeMaster/ChangeProfile/@item.Id">Change Profile</a></li>
                                                    <li><a href="/EmployeeMaster/ChangePassword/@item.Id">Reset Password</a></li>
                                                    <li><a href="/EmployeeMaster/ChangeRole/@item.Id">Change Role</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@item.Email</td>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td><button type="button" id="leavespopup" data-username="@item.Email" data-id="@item.Id">@item.Pl</button></td>
                                    <td><button type="button" id="unpaidleavespopup" data-username="@item.Email" data-id="@item.Id">@item.UnpaidLeave</button></td>
                                    <td>@item.JoiningDate</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>
                                        <span class="label label-@(item.EmailConfirmed ? "success" : "danger")">@(item.EmailConfirmed ? "Active" : "Pending")</span>
                                    </td>
                                    @if (roles.Contains("SuperAdmin"))
                                    {
                                        <td>
                                            <input type="checkbox" class="flat-red" @(item.isSuperAdmin ? "checked" : "") onclick="return false;">
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Salary</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th width="25%">Members Name</th>
                                <th width="25%">Amount </th>
                            </tr>
                        </thead>

                        <tbody id="notebody">
                        </tbody>
                    </table>

                    <button type="button" id='save' class='btn btn-primary pull-right'>  Save </button>
                </div>

            </div>

        </div>
    </div>
</div>



<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModalpl" role="dialog">
        <div class="row">
            <div class="col-md-8">
                <section class="content">
                    @Html.AntiForgeryToken()
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Leaves Details</h4>
                        </div>
                        <div><input type="hidden" id=""></div>
                        <div class="box-body">
                            @*@if (roles.Contains("SuperAdmin") || roles.Contains("HR"))
                        {
                            <div class="form-group">
                                <select name="Userid" id="leavedrpdwn" class="form-control" asp-items="@ViewBag.UserList"></select>
                            </div>
                        }*@
                            <div class="table-responsive">
                                <table class="table table-striped grid1" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="10%">UserName</th>
                                            <th width="10%">From Date</th>
                                            <th width="10%">To Date</th>
                                            <th width="10%">Count</th>
                                            <th width="15%">EmployeeDescription</th>
                                            @if (roles.Contains("SuperAdmin") || roles.Contains("HR"))
                                            {
                                                <th width="15%">HrDescription</th>
                                            }
                                            <th width="10%">Is Approve</th>
                                            <th width="10%">Approve Date</th>
                                            <th width="10%">FileUpload</th>
                                        </tr>
                                    </thead>
                                    <tbody id="levtblbdy">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </section>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModalunpaidpl" role="dialog">
        <div class="row">
            <div class="col-md-8">
                <section class="content">
                    @Html.AntiForgeryToken()
                    <!-- Default box -->
                    <div class="box">
                        <div class="box-header with-border">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Leaves Details</h4>
                        </div>
                        <div><input type="hidden" id=""></div>
                        <div class="box-body">
                            @*@if (roles.Contains("SuperAdmin") || roles.Contains("HR"))
                                {
                                    <div class="form-group">
                                        <select name="Userid" id="leavedrpdwn" class="form-control" asp-items="@ViewBag.UserList"></select>
                                    </div>
                                }*@
                            <div class="table-responsive">
                                <table class="table table-striped grid1" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="15%">UserName</th>
                                            <th width="10%">From Date</th>
                                            <th width="10%">To Date</th>
                                            <th width="10%">Count</th>
                                            <th width="10%">EmployeeDescription</th>
                                            @if (roles.Contains("SuperAdmin") || roles.Contains("HR"))
                                            {
                                                <th width="15%">HrDescription</th>
                                            }
                                            <th width="10%">Is Approve</th>
                                            <th width="10%">Approve Date</th>
                                            <th width="10%">FileUpload</th>
                                        </tr>
                                    </thead>
                                    <tbody id="UNlevtblbdy">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </section>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}


@section Scripts{


    <!-- DataTables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/js/Employeeleave.js"></script>
    <script src="~/js/unpaidEmployee.js"></script>
    <!-- page script -->
    <script type="text/javascript">

        $(document).ready(function () {

            $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength: 25,

            });

            $(document).on("click", "#leavespopup", function () {
                $('#myModalpl').modal('show');
            })

            $(document).on("click", "#unpaidleavespopup", function () {
                $('#myModalunpaidpl').modal('show');
            })

            $("#save").click(function () {

                var formData = new FormData();

                $(".salary-txt-emp").each(function (index, telement) {
                    var eleuser = $(telement).data("userid");
                    var salary = $(telement).val();

                    formData.append("request[" + index + "].userid", eleuser);
                    formData.append("request[" + index + "].salary", salary.trim().length > 0 ? parseFloat(salary) : 0);

                });

                $.ajax({
                    type: "POST",
                    url: "/EmployeeMaster/SaveSalary",
                    dataType: 'json',
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        console.log(response);
                        if (response.success == "true") {
                            alert(response.message);
                        }
                        $("#myModal").modal("hide");
                    },
                    error: function (response) {
                        alert(response.message);
                    }
                });

            });

        });

        function Salary() {
            $("#amount").val("");

            $.ajax({
                type: "GET",
                url: "/EmployeeMaster/SalaryEmployee",
                data: "Json",

                success: function (response) {
                    console.log(response);

                    if (response != null) {
                        var innerHtml = '';
                        $.each(response, function (i, v) {
                            var rowdata = response[i]
                            innerHtml += "<tr>";
                            innerHtml += "<td id='mail'> " + rowdata.firstName + " " + rowdata.lastName + " </td>";
                            innerHtml += "<td> <div> <input type='number' data-userid='" + rowdata.id + "' id='amount_" + rowdata.id + "' class='form-control salary-txt-emp'/ > <br/></div>  </td>";
                            innerHtml += "</tr>";

                        });
                        $("#notebody").html(innerHtml);
                        $("#myModal").modal("show");
                    }
                }

            });



        }

    </script>

}



