@model List<coderush.Models.ViewModels.CandidateMastersViewModel>
@*@model coderush.Models.Comments*@
@using Microsoft.AspNetCore.Identity
@using System.Globalization

@inject UserManager<ApplicationUser> _userManager

@{ ViewData["Title"] = "Candidate";
    var user = await _userManager.GetUserAsync(User);
    var roles = await _userManager.GetRolesAsync(user);
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <div class="row">

                    <div class="col-lg-3">
                        <label>From Date:</label>
                        <input id="canFromDate"  type="date" class="form-control" />
                    </div>
                    @*Start Date: <input type="datetime" name="sdate" />*@
                    <div class="col-lg-3">
                        <label>TO:</label>
                        <input id="canTO"  type="date" class="form-control" />

                    </div>
                    <div class="col-lg-3">
                        <select id="dropdown" class="form-control" style="margin-top:25px">
                            <option value="0"> --Select-- </option>
                            @*<option value="1"> Search </option>*@
                            <option value="2"> Last Month </option>
                            <option value="3"> Current Month </option>
                        </select>
                    </div>
                        <div class="col-lg-3">
                            <a href="/CandidateMaster/CandidateIndex" class="btn btn-primary" style="margin-top: 25px" id="btnSearch">Search</a>

                        </div>
                        @*<a href="/CandidateMaster/CandidateIndex?lastmont=1" class="btn btn-primary" style="margin-top: 25px" id="btnLastMonth">Last Month</a>
                        <a href="/CandidateMaster/CandidateIndex?curentmonth=2" class="btn btn-primary" style="margin-top: 25px" id="btnCurrentMonth">Current Month</a>*@
                    
                </div>
                <br />
                <br />
                <h3 class="box-title">List of Candidate item</h3>
                <div class="box-tools pull-right">
                    <a href="/CandidateMaster/Form" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th width="20%">Name</th>
                                <th width="10%">Email</th>
                                <th width="8%">Phone</th>
                                <th width="10%">Technologies</th>
                                <th width="4%">CV</th>
                                <th width="10%">Interview Date</th>
                                <th width="10%">Place Of Interview</th>
                                <th width="10%">Interview Time</th>
                                <th width="10%">Interview Description</th>
                                <th width="10%">Next Follow Update</th>
                                <th width="10%">Status</th>
                                <th id="cmtopenbtn">Comment</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var dtDateTime = DateTime.Now;
                                if (item.InterviewTime.HasValue)
                                {
                                    dtDateTime = dtDateTime.AddSeconds(item.InterviewTime.Value.TotalSeconds).ToLocalTime();
                                }
                                <tr>
                                    <td>
                                        @item.Id
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td>
                                        @item.technologies
                                    </td>
                                    <td>
                                        @*@item.FileUpload
                                            <br />
                                             @Html.ActionLink("Download", "DownloadFile", new { fileName = item.FileUpload })*@
                                        @*<a asp-controller="CandidateMaster" asp-action="DownloadFile" asp-route-filename="@item.FileUpload"><i class="fa fa-download"></i></a>*@
                                        <a href="~/document/Candidate/@item.filename" target="_blank"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td>
                                        @item.InterviewDate.Value.ToString("dd MMMM yyyy")
                                    </td>
                                    <td>
                                        @item.PlaceOfInterview
                                    </td>
                                    <td>
                                        @(item.InterviewTime.HasValue? dtDateTime.ToString("hh:mm tt", CultureInfo.InvariantCulture):"")
                                    </td>
                                    <td>
                                        @item.InterviewDescription
                                    </td>
                                    <td>
                                        @*@item.dateforNext*@
                                        @{ 
                                            if (item.dateforNext != null)
                                            {
                                              @item.dateforNext.Value.ToString("dd MMMM yyyy");
                                            }
                                            else
                                            {
                                                <label></label>
                                            }
                                        }
                                       
                                    </td>
                                    <td>

                                        @{
                                            if (item.Status == 1)
                                            {
                                                <p>Schedule Interview</p>
                                            }
                                            else if (item.Status == 2)
                                            {
                                                <p>Inprogress Interview</p>
                                            }
                                            else if (item.Status == 3)
                                            {
                                                <p>Done</p>
                                            }

                                        }
                                    </td>


                                    @*<td><span style="text-decoration-line:@(item.Isactive ? "line-through" : "none")">@item.Isactive</span></td>*@
                                    <td>
                                        <a href="#"><i id="myModal" onclick="openNote(@item.Id)" &nbsp; class="fa fa-comments-o"></i></a>
                                    </td>
                                    <td>
                                        <a href="/CandidateMaster/Form/@item.Id"><i class="fa fa-edit"></i></a> &nbsp; &nbsp;
                                        @if (roles.Contains("SuperAdmin"))
                                        {
                                            <a href="/CandidateMaster/Delete/@item.Id"><i class="fa fa-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->


        </div>

        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


<div class="modal fade" id="addComments" tabindex="-1" role="dialog" aria-labelledby="addCommentsLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPositionsLabel">Add Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="notebody">
                        </tbody>
                    </table>
                </div>
                <form>
                    <input name="IsValid" type="hidden" id="noteid" />
                    <div class="form-group">
                        <label>Notes:</label>
                        <textarea type="text" TextMode="MultiLine" rows="1" cols="10" class="form-control" id="notes" style="width: 572px;height: 165px;"></textarea>
                        @*<span asp-validation-for="PositionName" class="text-danger"></span>*@
                        @*<span class="notereq">Note is Required</span>*@
                    </div>
                    <div class="form-group">
                        <label> Next Follow Update</label>
                        <input type="date" id="nextfollow" @*value="@DateTime.Today.ToString("dd/mm/yyyy")"*@ class="form-control" />
                    </div>
                    @*<div class="form-group">
                            <label>Reject :</label>
                            <input type="checkbox" id="reject" class="flat-red icheckbox_flat-green checked check" />
                        </div>*@
                    <div class="form-group col-md-3">
                        <label>Status:</label>
                        <select id="ddlStatus" class="form-control">
                            <option value="0"> --Select--</option>
                            <option value="1"> Schedule Interview</option>
                            <option value="2"> Inprogress Interview</option>
                            <option value="3"> Done</option>
                        </select>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                <button type="button" class="btn btn-primary" id="saveNote" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>


@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}


@section Scripts{


    <!-- DataTables -->
    <script src="~/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    @*<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>*@
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- page script -->
    <script type="text/javascript">
        $(document).ready(function () {

            $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength: 25,
            });

                $('#canFromDate').on('change', function (e) {
                    var candidateFromDate = $('#canFromDate').val();
                    var candidateTo = $('#canTO').val();
                    var newUrl = "\CandidateIndex?sdate=" + candidateFromDate + "&edate=" + candidateTo;
                    $("#btnSearch").attr("href", newUrl); // Set herf value

                });

                $('#canTO').on('change', function (e) {
                    var candidateFromDate = $('#canFromDate').val();
                    var candidateTo = $('#canTO').val();
                    var newUrl = "\CandidateIndex?sdate=" + candidateFromDate + "&edate=" + candidateTo;
                    $("#btnSearch").attr("href", newUrl); // Set herf value

                });
            

           
           
            $("#dropdown").on('change', function () {
                debugger
                var ddvalue = $("#dropdown").val();
                
                //if (ddvalue == 1) {
                //    debugger
                //        var candidatefromdate = $("#canfromdate").val();
                //        var candidateto = $("#canto").val();
                //     //  var newurl = "\candidateindex?sdate=" + candidatefromdate + "&edate=" + candidateto;
                //       window.location.href = "\candidateindex?sdate=" + candidatefromdate + "&edate=" + candidateto;
                //       // $("#btnsearch").attr("href", newurl); // set herf value

                //}

                 if (ddvalue == 2) {
                    window.location.href =  "\candidateindex?lastmont=" + ddvalue;
                   
                }
                else {
                    window.location.href = "\candidateindex?curentmonth=" + ddvalue;
                    
                }

            });
          

        });

   

        function openNote(id) {
            $("#notes").val("");
            $("#nextfollow").val("");
            $("#ddlStatus").val("");
            $.ajax({
                type: "GET",
                url: "/CandidateMaster/Notes",
                data: { "id": id },
                success: function (response) {
                    console.log(response);
                    if (response != null) {
                        $("#notes").val("");
                        $("#noteid").val(id);
                        var innerHtml = '';
                        debugger
                        $.each(response, function (i, v) {
                            var rowdata = response[i]
                            innerHtml += "<tr>";
                            innerHtml += "<td> " + rowdata.note + " </td>";
                            innerHtml += "<td> " + moment(rowdata.nextFollowUpdate).format("L") + " </td>";
                            innerHtml += "</tr>"
                        });
                        $("#notebody").html(innerHtml);

                        $("#addComments").modal("show");
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
        debugger

        $("#saveNote").click(function () {
            var notes = $("#notes").val();
            var id = $("#noteid").val();
            var nextfollowupdate = $("#nextfollow").val();
            var ddlStatusc = $("#ddlStatus").val();

            //  var reject = $("#reject");
            if (notes == '') {
                alert("Note is Required");
                return false;
            }

            //var date = $("#nextfollow").val();
            //var d = new Date(Date.now()).toLocaleString().split(',')[0];

            //if (date < d) {
            //    alert("Next Follow Update date is greater or equal today date");
            //    $("#nextfollow").val("");
            //    return false;
            //}

            

            var requestdata = {
                "Id": id,
                "Note": notes,
                "NextFollowUpdate": nextfollowupdate,
                "Status": ddlStatusc,
            }

            debugger
            $.ajax({
                type: "POST",
                url: "/CandidateMaster/SaveNotes",
                data: requestdata,
                success: function (response) {
                    console.log(response);
                    if (response.success == "true") {
                        alert(response.message);
                        $("#addComments").modal("hide");
                        window.location.href ="/CandidateMaster/CandidateIndex"
                    }
                },
                error: function (response) {
                    alert(response.message);
                }
            });

        })

    </script>

}
