@model List<CandidateMaster>
@{ ViewData["Title"] = "Candidate"; }


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">List of Candidate item</h3>
                <div class="box-tools pull-right">
                    <a href="/CandidateMaster/Form" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="grid" class="table table-striped" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th width="5%">Edit</th>
                                <th width="5%">Delete</th>
                                <th width="20%">Name</th>
                                <th width="10%">Email</th>
                                <th width="10%">Phone</th>
                                <th width="10%">Interview Date</th>
                                <th width="10%">Place Of Interview</th>
                                <th width="10%">Interview Time</th>
                                <th width="10%">Interview Description</th>
                                <th width="10%">Technologies</th>
                                <th width="10%">FileUpload</th>
                                <th width="10%">Is Active</th>
                                <th width="10%">Is Reject</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    <a href="/CandidateMaster/Form/@item.Id"><i class="fa fa-edit"></i></a>
                                </td>
                                <td>
                                    <a href="/CandidateMaster/Delete/@item.Id"><i class="fa fa-trash"></i></a>
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Phone
                                </td>
                                <td>
                                    @item.Technologies
                                </td>
                                <td>
                                    @item.FileUpload
                                    <br />
                                    @Html.ActionLink("Download", "DownloadFile", new { fileName = item.FileUpload })
                                </td>
                                <td>
                                    @item.InterviewDate
                                </td>
                                <td>
                                    @item.PlaceOfInterview
                                </td>
                                <td>
                                    @item.InterviewTime
                                </td>
                                <td>
                                    @item.InterviewDescription
                                </td>
                                @*<td><span style="text-decoration-line:@(item.Isactive ? "line-through" : "none")">@item.Isactive</span></td>*@
                                <td>
                                    <input type="checkbox" class="flat-red" @(item.IsActive ? "checked" : "") onclick="return false;">
                                </td>
                                <td>
                                    <input type="checkbox" class="flat-red" @(item.IsReject ? "checked" : "") onclick="return false;">
                                </td>

                            </tr>
}
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->
        </div>

        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}


@section Scripts{


    <!-- DataTables -->
    <script src="~/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

    <!-- page script -->
    <script type="text/javascript">
        $(document).ready(function () {

            $('#grid').DataTable({
                lengthChange: false,
                info: false,
                searching: true,
                dom: 'lrtip',
                scrollX: false,
                pageLength:25,
                 
            });

        });
    </script>

}
